.conteiner{
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr;
    gap: 10px;
}

.picture-1{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-1 2s ease-in-out alternate infinite 0s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-1 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/corol-chervei.jpg);
        // background-size:contain;  
    }
}

.picture-2{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-2 2s ease-in-out alternate infinite 1s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-2 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/corol-bubn.jpg);
        background-size:contain;  
    }
}

.picture-3{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-3 2s ease-in-out alternate infinite 2s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-3 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/corol-kresti.jpg); 
    }
}

.picture-4{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-4 2s ease-in-out alternate infinite 3s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-4 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/corol-pik.jpg);  
    }
}

.picture-5{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-5 2s ease-in-out alternate infinite 4s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-5 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/dama-chervei.jpg);  
    }
}

.picture-6{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-6 2s ease-in-out alternate infinite 5s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-6 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/dama-bubn.jpg);  
    }
}

.picture-7{
    background-size:100% 100% ;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-7 2s ease-in-out alternate infinite 6s;
    &:hover{
        animation-play-state: paused;  
}
}

@keyframes transform-card-7 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/dama-kresti.jpg);  
    }
}

.picture-8{
    background-size:100% 100%;
    background-image: url(./assets/carta1.jpg);
    animation: transform-card-8 2s ease-in-out alternate infinite 7s;
    &:hover{
animation-play-state: paused;
}
}

@keyframes transform-card-8 {
    100%{
        transform: rotateY(180deg);
        background-image: url(./assets/dama-pic.jpg);  
    }
}



