@font-face {
  font-family: "AvenirBold";
  src: url(../fonts/AvenirBold.otf);
}

@font-face {
  font-family: "AvenirHeavy";
  src: url(../fonts/AvenirHeavy.ttf);
}

@font-face {
  font-family: "AvenirMedium";
  src: url(../fonts/AvenirMedium.ttf);
}

@font-face {
  font-family: "AvenirNormal";
  src: url(../fonts/AvenirNormal.ttf);
}

@font-face {
  font-family: "HelveticaBold";
  src: url(../fonts/HelveticaBold.ttf);
}

@font-face {
  font-family: "HelveticaNormal";
  src: url(../fonts/HelveticaNormal.ttf);
}

%text-font-1 {
  font-family: "AvenirMedium";
  font-style: normal;
  font-weight: 500;
}

%text-font-2 {
  font-family: "AvenirBold";
  font-style: normal;
  font-weight: 800;
}

%text-font-3 {
  font-family: "HelveticaBold";
  font-style: normal;
  font-weight: 700;
}

%text-font-4 {
  font-family: "HelveticaNormal";
  font-style: normal;
  font-weight: 400;
}

%text-font-5 {
  font-family: "AvenirNormal";
  font-style: normal;
  font-weight: 400;
}

%text-font-6 {
  font-family: "AvenirHeavy";
  font-style: normal;
  font-weight: 900;
}

%text-size-1 {
  font-size: 16px;
  line-height: 160%;
}

%text-size-2 {
  font-size: 18px;
  line-height: 160%;
}

%text-size-3 {
  font-size: 40px;
  line-height: 130%;
}

%text-size-4 {
  font-size: 16px;
  line-height: 180%;
}

%flex {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.all-page {
  max-width: 1600px;
  margin: 0 auto;
}

.section-1 {
  position: relative;
  max-width: 1248px;
  height: 754px;
  margin: 50px 112px 99px 240px;
}

.header,
.header-left {
  @extend %flex;
  align-items: center;
}

.header {
  width: 1120px;
  height: 60px;
  padding-bottom: 130px;
}

.header-links {
  width: 450px;
  height: 30px;
  @extend %flex;
  text-decoration: none;
  padding-left: 121px;
}

.links-design {
  text-decoration: none;
  @extend %text-font-1;
  @extend %text-size-1;
  color: #4b5d68;
  &:hover {
    @extend %text-font-2;
    @extend %text-size-1;
    color: #212353;
  }
}

.large-button {
  width: 210px;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
  @extend %text-font-2;
  @extend %text-size-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.section-1-text {
  position: absolute;
  width: 645px;
  height: 464px;
  @extend %flex;
  flex-direction: column;
}

.section-1-caption {
  width: 645px;
  height: 184px;
  @extend %text-font-3;
  font-size: 80px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #212353;
}

.section-1-main-text {
  width: 380px;
  height: 120px;
  @extend %text-font-1;
  @extend %text-size-2;
  color: #4b5d68;
}

.little-button {
  width: 170px;
  height: 60px;
  border-radius: 50px;
  border: none;
  @extend %text-font-2;
  @extend %text-size-2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #ffffff;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.violet {
  background-color: #9c69e2;
}

.section-1-picture {
  position: absolute;
  width: 885px;
  height: 468px;
  top: 226px;
  left: 363px;
  z-index: -1;
}

.section-2 {
  position: relative;
  width: 1117px;
  height: 560px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin: 0 243px 150px 240px;
  display: flex;
}

.section-2-picture {
  padding-right: 62px;
}

.section-2-text {
  @extend %flex;
  flex-direction: column;
  width: 475px;
  height: 310px;
  position: absolute;
  left: 550px;
  top: 125px;
}

.section-2-caption {
  @extend %text-font-3;
  @extend %text-size-3;
  display: flex;
  align-items: center;
  color: #212353;
}

.section-2-main-text {
  width: 474px;
  height: 170px;
  @extend %text-font-1;
  @extend %text-size-2;
  color: #4b5d68;
}

.section-3 {
  position: relative;
  width: 1138px;
  height: 1026px;
  margin: 0 243px 150px 220px;
}

.section-3-caption {
  position: absolute;
  left: 376px;
  width: 405px;
  height: 52px;
  @extend %text-font-3;
  @extend %text-size-3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212353;
}

.section-3-main-text {
  position: absolute;
  width: 584px;
  height: 58px;
  top: 102px;
  left: 287px;
  @extend %text-font-1;
  @extend %text-size-2;
  text-align: center;
  color: #4b5d68;
}

.grid-conteiner {
  padding-top: 260px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.grid-item {
  position: relative;
  width: 540px;
  height: 358px;
}

.grid-item-1-img {
  position: absolute;
  width: 232px;
  height: 211px;
  top: 73px;
  z-index: 3;
}

.grid-item-1-text,
.grid-item-2-text,
.grid-item-3-text,
.grid-item-4-text {
  position: absolute;
  left: 89px;
  width: 442px;
  height: 358px;
}

.grid-item-1-text {
  background-image: url(../assets/background-1.svg);
}

.grid-item-2-text {
  background-image: url(../assets/background-2.svg);
}

.grid-item-3-text {
  background-image: url(../assets/background-3.svg);
}

.grid-item-4-text {
  background-image: url(../assets/background-4.svg);
}

.grid-item-caption {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 49px;
  left: 172px;
  @extend %text-font-4;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}

.grid-item-main-text {
  position: absolute;
  width: 220px;
  height: 160px;
  left: 172px;
  top: 119px;
  @extend %text-font-5;
  @extend %text-size-1;
  color: #4b5d68;
}

.grid-item-text-arrow {
  position: absolute;
  width: 127px;
  height: 26px;
  left: 172px;
  top: 299px;
  @extend %text-font-2;
  @extend %text-size-1;
  @extend %flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  &:hover {
    transform: translateX(8px);
    cursor: pointer;
  }
}

.section-4 {
  position: relative;
  width: 1118px;
  height: 709px;
  margin: 0 24px 150px 242px;
  background-color: #9c69e2;
  border-radius: 50px;
}

.section-4-caption {
  position: absolute;
  width: 405px;
  height: 52px;
  left: 93px;
  top: 109px;
  @extend %text-font-3;
  @extend %text-size-3;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.section-4-content {
  position: absolute;
  width: 645px;
  height: 330px;
  left: 236px;
  top: 246px;
  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(103, 11, 232, 0.3);
  border-radius: 20px;
}

.section-4-content-img {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 70px;
  top: 60px;
}

.section-4-content-text {
  position: absolute;
  width: 385px;
  height: 200px;
  left: 190px;
  top: 80px;
}

.section-4-content-text-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 29px;
  @extend %text-font-6;
  @extend %text-size-2;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}

.section-4-content-text-link {
  position: absolute;
  top: 29px;
  @extend %text-font-1;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9c69e2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.section-4-content-text-main {
  position: absolute;
  width: 383px;
  height: 130px;
  top: 70px;
  @extend %text-font-5;
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
}

.footer {
  position: relative;
  width: 1600px;
  height: 756px;
  padding: 102px 240px 0 240px;
}

.footer-flex-1 {
  @extend %flex;
}

.footer-flex-1-left {
  width: 584px;
  height: 101px;
}

.footer-flex-1-left-caption {
  width: 405px;
  height: 52px;
  padding-bottom: 20px;
  @extend %text-font-3;
  @extend %text-size-3;
  display: flex;
  align-items: center;
  color: #212353;
}

.footer-flex-1-left-text {
  width: 584px;
  height: 29px;
  @extend %text-font-1;
  @extend %text-size-2;
  color: #4b5d68;
}

.footer-flex-1-right {
  width: 410px;
  height: 60px;
  display: inline-flex;
  justify-content: space-between;
}

.pink {
  background-color: #f063b8;
}

.contacts {
  width: 1085px;
  height: 400px;
  padding-top: 153px;
}

.footer-logo-text {
  display: inline-flex;
  padding-bottom: 65px;
}

.contacts-flex-first {
  width: 335px;
  height: 220px;
}

.logo-text {
  padding-left: 20px;
  width: 153px;
  height: 30px;
  @extend %text-font-6;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}

.contacts-flex-first-text-1 {
  width: 335px;
  height: 65px;
  padding-bottom: 10px;
  @extend %text-font-1;
  @extend %text-size-4;
  letter-spacing: 0.01em;
  color: #212353;
}

.contacts-flex-first-text-2 {
  width: 335px;
  height: 60px;
  @extend %text-font-5;
  @extend %text-size-4;
  letter-spacing: 0.01em;
  color: #212353;
}

.contacts-flex {
  @extend %flex;
}

.column-1-links,
.column-2-links {
  width: 166px;
  height: 190px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    @extend %text-font-5;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    &:hover {
      text-decoration: underline;
    }
  }
}

.social-media-links {
  width: 178px;
  height: 50px;
  @extend %flex;
  text-align: center;
  align-items: baseline;
  padding-top: 30px;
}

.facebook,
.twitter,
.instagram {
  width: 50px;
  height: 50px;
  background-color: #212353;
  opacity: 0.1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: rgb(11, 141, 247);
    opacity: 0.7;
  }
}

.facebook-icon {
  width: 10px;
  height: 20px;
}
.twitter-icon,
.instagram-icon {
  width: 20px;
  height: 20px;
}

.facebook-icon use,
.twitter-icon use,
.instagram-icon use {
  fill: white;
  &:hover {
    fill: orange;
    stroke: red;
  }
}

.copyright {
  position: absolute;
  padding-bottom: 96px;
  width: 360px;
  height: 50px;
  top: 704px;
  @extend %text-font-5;
  font-size: 12px;
  line-height: 180%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #212353;
}
