@font-face {
  font-family: "Gilroy-Bold";
  src: url(./fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./fonts/Gilroy-Medium.ttf);
}

$medium-font:"Gilroy-Medium";
$bold-font:"Gilroy-Bold";

$gray:#828282;
$lite-black:#070707;
$white-gray:#f6f6f6;
$white:#ffffff;
$black:black;

%flex{
  display: flex;
  justify-content: space-between;
}

%main-text-style{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

%second-text-style{
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.navigation {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 252px 32px 252px;
  @extend %flex;
  margin-top: 33px;
  @media screen and (max-width: 1200px) {
    padding: 0 130px 32px 130px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 40px 32px 40px;
  }
  @media screen and (max-width: 992px) {
    padding: 0 28px 32px 28px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.navigation a {
  text-decoration: none;
  color: $gray;
  font-family: $bold-font;
  @extend %main-text-style;
}

.navigation a:focus {
  color: $black;
}

.navigation a:hover {
  color:$lite-black;
}

.line {
  text-align: center;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.burger-menu {
  @media screen and (min-width: 601px) {
    display: none;
  }
  @media screen and (max-width: 600px) {
    margin: 0;
  }
}

.burger-section {
  display: flex;
  justify-content: flex-end;
  transform: translate(-30px, 65px);
}

.main-info {
  @extend %flex;
  padding: 0 252px 0 251px;

  @media screen and (max-width: 1200px) {
    padding: 0 130px 32px 130px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 40px 32px 40px;
  }
  @media screen and (max-width: 992px) {
    padding: 0 28px 32px 28px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 0 29px 0 29px;
  }
}

.name {
  width: 124px;
  height: 118px;
  font-family: $bold-font;
  font-weight: 400;
  font-size: 47px;
  line-height: 59px;
  color: $lite-black;
  padding-top: 40px;
  @media screen and (max-width: 600px) {
    width: 124px;
    height: 106px;
    margin-top: 30px;
    padding-top: 0;
  }
}

.profession {
  width: 156px;
  height: 44px;
  font-family: $medium-font;
  @extend %main-text-style;
  color: $lite-black;
  margin-top: 95px;

  @media screen and (max-width: 600px) {
    margin: 23px 0 0 0;
  }
}

.lang {
  transform: rotate(-90deg);
  transform-origin: top left;
  margin-top: 70px;
  margin-right: -50px;
  margin-top: 138px;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.ru:focus,
.vertical:focus,
.eng:focus {
  color: $black;
}

.lang a {
  text-decoration: none;
  font-family: $bold-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $gray;
}

.picture-1 {
  text-align: center;
  margin: 31px 0 104px 0;
  @media screen and (max-width: 600px) {
    margin: 37px 0 0 0;
  }
}

.photo {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.photo-mobile {
  @media screen and (max-width: 600px) {
    width: 85%;
  }
  @media screen and (min-width: 601px) {
    display: none;
  }
}
.about-me {
  max-width: 1440px;
  height: 506px;
  margin-top: 104px;
  background-color: $white-gray;
  @media screen and (max-width: 600px) {
    height: 471px;
    margin-top: 83px;
  }
}

.about-me h2 {
  padding: 120px 0 18px 0;
  margin: 0 auto;
  font-family: $bold-font;
  @extend %second-text-style;
  text-align: center;
  color: #070707;
  @media screen and (max-width: 600px) {
    padding-top: 81px;
  }
}

.text {
  width: 486px;
  height: 218px;
  margin: 0 auto;
  @extend %flex;
  flex-direction: column;
  font-family: $medium-font;
  @extend %main-text-style;
  text-align: center;
  color: $lite-black;
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 261px;
    margin-top: 30px;
  }
}

.skills h2 {
  margin-top: 91px;
  font-family: $bold-font;
  @extend %second-text-style;
  text-align: center;
  color: $lite-black;
  @media screen and (max-width: 600px) {
    margin-top: 60px;
  }
}

.article-text {
  font-family: $medium-font;
  @extend %main-text-style;
  text-align: center;
  margin: 69px 0 83px 0;
}

.skills-flex {
  display: flex;
  justify-content: space-around;
  padding: 0 180px 0 256px;

  @media screen and (max-width: 1200px) {
    padding: 0 70px 0 140px;
  }
  @media screen and (max-width: 992px) {
    padding: 0 30px 32px 90px;
  }
  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
    padding: 0 0 0 110px;
  }
}

.skills-flex p {
  width: 80px;
  height: 28px;
  margin: 24px 0 40px 0;
  font-family: $bold-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $gray;
}

.stars {
  transform: translateX(-40px);
  @media screen and (max-width: 600px) {
    margin-bottom: 50px;
  }
}

.figma {
  transform: translateX(10px);
}

.portfolio {
  padding-top: 50px;
  margin-top: 110px;
  max-width: 1440px;
  height: 2300px;
  background-color: $white-gray;
  @media screen and (max-width: 600px) {
    max-width: 600px;
    height: auto;
  }
}

.portfolio h2 {
  margin: 80px 0 47px 0;
  font-family: $bold-font;
  @extend %second-text-style;
  text-align: center;
  color: $lite-black;
  @media screen and (max-width: 600px) {
    margin: 80px 0 65px 0;
  }
}

.pictures {
  width: 936px;
  height: 522px;
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    width: 316px;
    height: 171px;
  }
}

.picture-text {
  margin: 45px 0 99px 0;
  font-family: $medium-font;
  @extend %main-text-style;
  text-align: center;
  text-decoration-line: underline;
  color: $lite-black;
  cursor: pointer;
}

footer h2 {
  margin: 114px 0 20px 0;
  font-family: $bold-font;
  @extend %second-text-style;
  text-align: center;
  color: $lite-black;
}

.footer-text {
  width: 275px;
  margin: 0 auto;
  font-family: $medium-font;
  @extend %main-text-style;
  text-align: center;
}

button {
  width: 181px;
  height: 42px;
  background-color: $lite-black;
  color: $white;
  font-family: $bold-font;
  @extend %main-text-style;
  text-align: center;
  border-radius: 25px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.footer-button {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
  padding: 0 29px 0 29px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.chats {
  padding: 0 550px 0 570px;
  margin-bottom: 46px;
  @extend %flex;
  @media screen and (max-width: 1200px) {
    padding: 0 430px 0 430px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 340px 32px 340px;
  }
  @media screen and (max-width: 992px) {
    padding: 0 325px 32px 325px;
  }
  @media screen and (max-width: 600px) {
    padding: 0 30px 0 30px;
  }
}

.move:hover {
  transform: translate(20px);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.like-me {
  padding: 0 597px 123px 600px;
  font-family: $medium-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $gray;
  @media screen and (max-width: 1200px) {
    padding: 0 430px 123px 430px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 380px 32px 380px;
  }
  @media screen and (max-width: 992px) {
    padding: 0 370px 32px 370px;
  }
  @media screen and (max-width: 600px) {
    padding: 0 0 32px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.menu-toggle{
  display: none;
}


/*Первый способ меню*/

// .menu-toggle:checked +.navigation {
//   display:grid;
//   margin-top: 0;
//   padding-top: 0;
//   position: absolute;
//   z-index: 3;
//   background-color:white;
//   width: 70%;
// }


.navigation-mobile{
display: none;
}


.menu-toggle:checked +.navigation-mobile{
  @media screen and (max-width: 600px) {
    height: 100vh;
    padding-bottom:300px;
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
  }
}

.navigation-mobile a {
  text-decoration: none;
  color: #828282;
  font-family: "Gilroy-Bold";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  @media screen and (max-width: 600px) {
  font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
margin-left: 15px;
}
}

.lang-mobile{
  display: flex;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-top: 60vh;
  margin-left: 90vw;
  font-size: 34px;
line-height: 42px;

}